/* yosherfonter */
@font-face {
	font-family: YosherFonter;
	font-style: normal;
	font-weight: normal;
	src: url("fonts/YosherFonter.eot"); /* IE9 Compat Modes */
	src: url("fonts/YosherFonter.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("fonts/YosherFonter.otf") format("opentype"), /* Safari, Android, iOS */
		url("fonts/YosherFonter.svg#YosherFonter") format("svg"), /* Legacy iOS */
		url("fonts/YosherFonter.woff") format("woff"), /* Modern Browsers */
		url("fonts/YosherFonter.woff2") format("woff2"); /* Super Modern Browsers */
}